
html,
body {
    width: 100%;
    height: 100%;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Crimson Text', serif;*/
}


body p {

}

.navText {
	font-family: 'Catamaran', sans-serif;
	font-size: 12px;
}

#titleText {
	/*font-family: 'Droid Serif', serif;*/
	/*font-family: 'David Libre', serif;*/
	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'PT Serif', serif;*/
	/*font-family: 'Quattrocento', serif;*/
	font-family: 'Cardo', serif;
}





#map01 { 
	width: 100%;
	height: 100vh;
}

#map02 {
	width: 100%;
	height: 100vh;
}



#blocker {
	position: absolute;
	top: 100vh;
	left:0;
	width: 100%;
	height: auto;
	background: #fff;
	z-index: 0;
	font-family: 'Cardo', serif;
	font-size: 16px;
}


















header {
    position: fixed;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    z-index: 0;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
}

/* VIDEO BACKGROUND */


.fullscreen-bg {
	position: absolute;
 	top: 0;
 	right: 0;
  	bottom: 0;
  	left: 0;
  	overflow: hidden;
  	background-color: rgba(0, 0, 0, .5); /*overlay*/
}

.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: black;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg-video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 768px) {
  .fullscreen-bg {
    background: url('assets/images/preview/slider/vision.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

/* /VIDEO BACKGROUND */








